$color1: rgba(161, 232, 175, 1);
$color2: rgba(148, 197, 149, 1);
$color3: rgba(116, 124, 146, 1);
$color4: rgba(55, 39, 114, 1);
$color5: rgba(58, 36, 73, 1);

body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "raleway";
  font-weight: 800;
  color: #D4F4DA;
}

h2,
h3,
h4 {
  font-family: "raleway";
  color: #D4F4DA;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p,
span,
a {
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #D4F4DA;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:visited {
  color: #D4F4DA;
}

/* LIGHT SECTION */

.odd {
  background-color: rgba(116, 124, 146, 1);

}

h2.odd,
h3.odd,
h4.odd,
p.odd {
  color: #D4F4DA;
}

/* DARK SECTION */
.even {
    background-color: rgba(55, 39, 114, 0.8);
}

.outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container {
  width: 960px;
  display: flex;
  margin: 0;
}

.mobile-only {
  display: none;
}

/* HEADER SECTION */

#header,
.logo-title,
.menu {
  display: flex;
}

#header {
  max-width: 100%;
  justify-content: space-between;
  border: thin transparent solid;
  height: 4rem;
}

#outer-header {
  border-bottom: none;
  background: linear-gradient(rgba(46, 32, 94, 1), rgba(55, 39, 114, 0.8));
}

.logo-title object {
  min-width: 2.5rem;
}

.logo-title,
.menu {
  align-items: center;
}

.logo-title {
  padding-left: 2rem;
}

.logo-title .colmar {
  font-weight: 400;
  color: #D4F4DA;
}

.menu {
  padding-right: 2rem;
}

nav span {
  padding-left: 1rem;
  transition: all 400ms ease-out;
}

nav span:hover {
  text-decoration-line: underline;
}

nav span a:active {
  color: #F6F6F6;
}

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem
  }

  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  .logo-title {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: space-around;
  }

  #outer-header {
    border: none;
  }
}



/* BANNER*/

.right-box {
  padding-right: 24px;
}

.left-box {
  width: 60%;
  border: thin transparent solid;
  margin: 0;
}

#banner {
  max-width: 100%;
  height: auto;
}

#outer-banner {
  background: linear-gradient(rgba(55, 39, 114, 0.8), rgba(116, 124, 146, 1));
}

.image-container {
  padding: 32px 16px 32px 24px;
}

.banner img {
  width: 100%;
}

.banner .right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0;
}

.banner-text {
  width: 75%;
  padding-left: 2rem;
}

.banner-text h1 {
  padding-bottom: 32px;
}

.banner-text h3 {
  padding-bottom: 24px;
  font-weight: 400;
}

.banner {
  border: thin transparent solid;
}

button {
  height: 3rem;
  width: 100%;
  background-color: #404144;
  color: #D4D4D5;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
  border: none;
}

button:hover {
  background-color: #555659;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1rem;
  }

  button {
    height: 2rem;
    font-size: 0.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .banner-text {
    width: 85%;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 580px) {

  #banner {
    flex-direction: column;
  }

  .banner .left-box {
    width: 100%;
    height: 180px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
  }

  .left-box {
    border: none;
  }

  .banner .right-box {
    width: 90%;
  }

  .right-box {
    padding-right: 0;
  }

  .banner img {
    display: none;
  }

  .banner-text {
    padding: 32px 16px 32px 16px;
    width: 100%;
  }

  .banner-text h1 {
    padding-bottom: 32px;
  }
  .banner-text h3 {
    padding-bottom: 24px;
  }

  button {
    height: 3rem;
    font-size: 1rem;
  }
}

/* MAIN SECTION */

#practice {
  max-width: 100%;
  height: auto;
}

#outer-practice {
  background: linear-gradient(rgba(116, 124, 146, 1), rgba(55, 39, 114, 0.8));
}

.information-main img {
  width: 100%;
}

.information-main {
  margin: 0;
  text-align: left;
  padding: 0 16px 32px 24px;
}

.information-main h2 {
  padding: 32px 0 24px 0;

}

/*.information-main h2,
.information-main p,
.information-main span {
  color: #202228;
}

.feature-details h3,
.feature-details p {
  color: #202228;
}

.feature-details a {
  color: #202228;
}*/

.attribute {
  display: block;
  padding-top: 16px;
  font-size: 0.75rem;
  font-style: italic;
}

.right-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  border: thin transparent solid;
  width: 40%;
}

.highlight-box img {
  width: 35%;
}

.highlight-box {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: rgba(22, 23, 27, 0.2);
  transition: all 0.8s ease;
}

.highlight-box:hover {
  background-color: rgba(22, 23, 27, 0.5);
}

.feature-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.feature-details span {
  padding-top: 16px;
}

.read-more a {
  transition: all 400ms ease-out;
  font-weight: 700;
}

.read-more a:hover {
  text-decoration-line: underline;
}

.read-more a:active {
  color: #F6F6F6;
}


.feature-details h3 {
  padding-bottom: 8px;
}

@media only screen and (max-width: 580px) {
   #mobile-practice {
    display: none;
  }

  .right-box {
    width: 100%;
  }

  .highlight-box img {
    width: 100%;
  }

  .highlight-box {
    flex-direction: column;
  }

  .feature-details {
    width: 100%;
    padding-top: 16px;
  }
}

/* COURSES SECTION */

#courses {
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  border: thin transparent solid;
}

#outer-courses {
  background: linear-gradient(rgba(55, 39, 114, 0.8), rgba(116, 124, 146, 1));
}

.course-heading {
  padding: 32px 10px;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: thin transparent solid;
  margin-bottom: 32px;
}

.course {
  /*min-height: 220px;*/
  max-width: 220px;
  text-align: left;
  margin: 0 32px 16px 32px;
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.course:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.course img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.course-detail {
  display: flex;
  min-height: 130px;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  background-color: rgba(22, 23, 27, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-detail h3,
.course-detail span {
  color: #D4D4D5;
}

/*.course-detail h3,
.course-detail span {
  color: #202228;
}*/

.course-detail span {
  padding: 8px 0 0 0;
}

@media only screen and (max-width: 580px) {
  .course img {
    display: none;
  }

  .course-detail span {
    display: none;
    padding: 0;

  }

  .course-grid {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .course {
    width: 85%;
    max-width: 350px;
    min-height: 0px;
    text-align: center;
    padding: 8px 16px 8px 16px;
    margin: 0 0 0 0;
    border: thin transparent solid;
  }

  .course-detail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px 16px 16px 16px;
    min-height: 0;
  }

  #courses {
    width: 100%;
  }

}

/* THESIS SECTION */

#thesis-title,
#thesis-main {
  max-width: 100%;
  border: thin transparent solid;
}

#thesis-title {
  justify-content: center;
  padding: 32px 0;
}

#thesis-title h2 {
  color: #E9E9EA;
}

video {
  width: 100%;
}

.thesis-video {
  text-align: left;
  padding: 0 16px 32px 24px;
}

.thesis-video h4 {
  padding-top: 24px;
  padding-bottom: 16px;
}

.thesis-video h4,
.thesis-video p {
  color: #D4D4D5;
}

#thesis-main .highlight-box h3,
#thesis-main .highlight-box p {
  color: #D4D4D5;
}

#thesis-main .highlight-box {
  transition: all 0.8s ease-out;
}

#thesis-main .highlight-box:hover {
  cursor: pointer;
}

@media only screen and (max-width: 580px) {
  #hide-thesis {
    display: none;
  }

  .left-box {
    width: 100%;
  }

  .thesis-video {
    padding: 0 0 0 0;
    margin: 0;
  }
  #thesis-main {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  #outer-thesis {
    display: block;
  }

  video {
    display: block;
  }

}

/* FOOTER SECTION */

#footer {
  max-width: 100%;
  justify-content: space-between;
  border: thin transparent solid;
  height: 5rem;
}

.outer-foot {
  border-top: 1px solid #B3B7C3;
  background-color: rgba(116, 124, 146, 0.8);
}

.copyright {
  padding-left: 2rem;
}

.terms {
  padding-right: 2rem;
}

.copyright,
.terms {
  padding-top: 0.75rem;
}

.terms span {
  padding-left: 1rem;
}

.terms span a {
  transition: all 400ms ease-out;
}

.terms span a:hover {
  text-decoration-line: underline;
}

.terms span a:active {
  color: #F6F6F6;
}

.copyright span,
.terms a {
  color: #D4D4D5;
}

@media only screen and (max-width: 580px) {

  .copyright {
    padding: 24px 10px 16px 20px;
    text-align: left;
    display: flex;
    align-items: flex-end;
  }

  .outer-foot {
    border: none;
  }

  #footer {
    border: none;
  }

}
